body{
    margin:0;
    border: 3px solid white;
    border-radius: 2%;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/bulawayo.webp");
    background-size: cover;
    margin: 0;
    color: white;
}

.byo-img{
   padding: 100px 100px;
}

.byo-title{
    margin-top: 100px;
    background-color: sandybrown;
    text-shadow: 0 0 2px black;
}

.byo-motto{
    background-color: gray;
    text-shadow: 0 0 2px black;
}
.head{
    text-align: center;
    color: #2b2839;
    text-decoration: underline;
}
.activity-section{
   display: flex;
    justify-content: center;
    align-items: start;
    background-color: blanchedalmond;
    
}
.img{
    margin: 40px 100px -5px 150px;
    padding: 10px;
    width: 150px;
    border-radius: 50%;
}
.txt{
    font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: start;
   width: 400px;
   margin: 0 auto 10px auto;
}
.txt1{
    margin-left: 8px;
}
.head{
    text-align: center;
    background-color: blanchedalmond;
    margin: 0;
}
.avatar{
    width: 150px;
    border-radius: 5%;
}
#business-card{
    background: sandybrown ;
    color:#2b2839;
    display: flex;
    justify-content: space-around;
    padding:20px;
    width: 400px;
    margin: 30px auto;
    text-align: center;
    border-bottom: 6px solid skyblue;
    border-radius: 1%;
}